.paragraph {
  margin-bottom: 16px;
  white-space: pre-line;
  word-break: break-word;
}

.answer-link {
  color: blue;
  cursor: pointer;
}

.answer-link:hover {
  color: darkblue;
}

pre {
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: auto;
  overflow-y: hidden;
  font-size: 12px;
  line-height: 20px;
  background: #efefef;
  border: 1px solid #777;
  border-radius: 5px;
}

pre code {
  padding: 10px;
  color: #333;
}

.b-for-code {
  font-size: 10px;
}
