<div *ngIf="data.task.question">
  <div>
    <h2 class="custom-h-margin">
      Вопрос:
    </h2>
  </div>
  <div>
    {{data.task.question}}
  </div>
  <hr>
</div>

<div *ngIf="data.task.description">
  <div>
    <h2 class="custom-h-margin">
      Описание:
    </h2>
  </div>
  <div>
    {{data.task.description}}
  </div>
  <hr>
</div>

<div *ngIf="data.task.answer.text.length > 0">
  <div>
    <h2 class="custom-h-margin">
      Ответ:
    </h2>
  </div>
  <div *ngFor="let text of data.task.answer.text" class="paragraph">
    {{text}}
  </div>
  <hr>
</div>

<div *ngIf="data.task.answer.code.length > 0">
  <div>
    <h2 class="custom-h-margin">
      Код:
    </h2>
  </div>
  <pre *ngFor="let code of data.task.answer.code; let idx = index" class="paragraph">
    <b>Код: {{idx}}</b>
    <code data-language="javascript">
      {{code}}
    </code>
  </pre>
  <hr>
</div>

<div *ngIf="data.task.answer.link && data.task.answer.link.length > 0">
  <div>
    <h2 class="custom-h-margin">
      Ссылки:
    </h2>
  </div>
  <div *ngFor="let link of data.task.answer.link">
    <a target="_blank" href="{{link}}">{{link}}</a>
  </div>
  <hr>
</div>

<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="onNoClick()">Закрыть</button>
</div>
