.main-container {
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  .esperanto-main-card {
    display: inline-block;
    margin: 8px;
    min-width: 400px;
    max-width: 400px;
    transition: all 0.2s;
    box-sizing: border-box;
    border: 1px solid transparent;

    .img-container {
      height: 150px;
      background: center/100% url('/assets/img/esperanto/default_vortlisto.png');
    }

    &:hover {
      box-shadow: 5px 5px 10px antiquewhite;
      cursor: pointer;
      border: 1px solid grey;
    }
  }
}

