.toolbar-list {
  align-items: center;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    margin-left: 16px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }

  a {
    display: flex;
  }
}

.header-logo {
  display: flex;
  align-items: center;
  margin-left: 16px;
  height: 100%;
  position: relative;

  .logo {
    color: rebeccapurple;
    width: 2rem;
    height: 2rem;
    background: deepskyblue;
    border: 8px solid grey;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a {
    margin-left: 16px;
  }
}

.system-version {
  position: absolute;
  font-size: 0.7rem;
  left: 9.5rem;
  top: 0.5rem;
  color: deepskyblue;
}
