.toolbar-list {
  align-items: center;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    margin-left: 16px;
    display:inline-block;
    text-decoration: none;
    cursor: pointer;
  }
  a {
    display: flex;
  }
}
.header-logo {
  display: flex;
  align-items: center;
  margin-left: 16px;
  height: 100%;
  img {
    height: 100%;
  }
  a {
    margin-left: 16px;
  }
}
