<mat-toolbar>
  <div fxHide fxShow.lt-md>
    <div><a (click)="sidenavToggle()">
      <mat-icon fxLayout fxFlex>menu</mat-icon>
    </a></div>
  </div>
  <div class="header-logo">
    <div class="logo">A</div>
    <a [routerLink]="['']">Системы</a>
  </div>
  <div fxLayout fxFlex fxLayoutAlign="flex-end">
    <ul class="toolbar-list">
      <li *ngIf="(isAuth$ | async) === true" fxHide.lt-md><a [routerLink]="['']">Профиль</a></li>
      <li fxHide.lt-md><a [routerLink]="['autoHR']">AutoHR</a></li>
      <li fxHide.lt-md><a [routerLink]="['esperanto']">Эсперанто</a></li>
      <li fxHide.lt-md><a [routerLink]="['english']">Английский</a></li>
      <li fxHide.lt-md><a [routerLink]="['blog']">Блог</a></li>
      <li fxHide.lt-md><a [routerLink]="['blog', 'bookquest', 'thestainlesssteelrat', 1]">Book Quest</a></li>
      <li *ngIf="(isAuth$ | async) === true" fxHide.lt-md (click)="logout()"><a>Выйти</a></li>
      <li *ngIf="(isAuth$ | async) === false" fxHide.lt-md (click)="openAuth()"><a>Войти</a></li>
      <li><a (click)="toggleTheme()">
        <mat-icon>brightness_medium</mat-icon>
      </a></li>
    </ul>
  </div>
</mat-toolbar>
