<h1 mat-dialog-title>Состав вопросов:</h1>
<div mat-dialog-content>
  <div>
    <div>
      <mat-form-field class="example-form-field" [ngStyle]="{'width': '100%'}">
        <mat-label>Кол-во вопросов</mat-label>
        <input type="number" matInput [(ngModel)]="tasksCount">
        <button mat-button *ngIf="tasksCount" matSuffix mat-icon-button aria-label="Clear" (click)="tasksCount=0">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
  <hr>
  <div>
    <div>
      Типы тасков (вопросы\задачи)
    </div>
    <div>
      <mat-slider [(ngModel)]="typeModel" aria-label="unit(s)" [ngStyle]="{'width': '100%'}"></mat-slider>
    </div>
  </div>
  <hr>
  <div>
    <div>
      <mat-form-field appearance="fill" [ngStyle]="{'width': '100%'}">
        <mat-label>Сложность</mat-label>
        <mat-select [formControl]="difficultiesControl" multiple>
          <mat-select-trigger>
            {{difficultiesControl.value ? difficultiesControl.value[0] : ''}}
            <span *ngIf="difficultiesControl.value?.length > 1" class="example-additional-selection">
        (+{{difficultiesControl.value.length - 1}} {{difficultiesControl.value?.length === 2 ? 'other' : 'others'}})
      </span>
          </mat-select-trigger>
          <mat-option *ngFor="let difficultie of data.difficultiesList"
                      [value]="difficultie">
                      <span [ngSwitch]="difficultie">
                        <span *ngSwitchCase="'beginner'">Пре-Джуниор</span>
                        <span *ngSwitchCase="'junior'">Джуниор</span>
                        <span *ngSwitchCase="'middle'">Мидл</span>
                        <span *ngSwitchCase="'senior'">Сеньор</span>
                      </span>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <hr>
  <div>
    <div>
      <mat-form-field appearance="fill" [ngStyle]="{'width': '100%'}">
        <mat-label>Компетенции</mat-label>
        <mat-select [formControl]="competencesControl" multiple>
          <mat-select-trigger>
            {{competencesControl.value ? competencesControl.value[0] : ''}}
            <span *ngIf="competencesControl.value?.length > 1" class="example-additional-selection">
        (+{{competencesControl.value.length - 1}} {{competencesControl.value?.length === 2 ? 'other' : 'others'}})
      </span>
          </mat-select-trigger>
          <mat-option *ngFor="let competence of data.competencesList" [value]="competence">
            {{competence}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <hr>
  <div>
    <div>
      <mat-form-field appearance="fill" [ngStyle]="{'width': '100%'}">
        <mat-label>Популярность</mat-label>
        <mat-select [formControl]="popularityControl" multiple>
          <mat-select-trigger>
            {{popularityControl.value ? popularityControl.value[0] : ''}}
            <span *ngIf="popularityControl.value?.length > 1" class="example-additional-selection">
        (+{{popularityControl.value.length - 1}} {{popularityControl.value?.length === 2 ? 'other' : 'others'}})
      </span>
          </mat-select-trigger>
          <mat-option *ngFor="let popularity of data.popularityList" [value]="popularity">{{popularity}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick(false)">Отмена</button>
  <button mat-button cdkFocusInitial (click)="onNoClick(true)">Начать</button>
</div>
