:host ::ng-deep .mat-card-header-text {
  width: 100%;
  margin: 0;
}

.main-container {
  box-sizing: border-box;
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  gap: 8px;
  margin-bottom: 8px;

  .esperanto-main-card {
    margin: 1px;
    max-width: 400px;
    transition: all 0.2s;
    box-sizing: border-box;
    border: 1px solid transparent;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .img-container {
      word-break: break-all;
      white-space: break-spaces;

      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    &:hover {
      box-shadow: 5px 5px 10px antiquewhite;
      cursor: pointer;
      border: 1px solid grey;
    }
    &-xs {
      width: 100%;
    }
  }
}

::ng-deep .toolTipClass {
  font-size: 200%;
}

.custom-mat-card-actions {
  margin: 0 !important;
  padding: 0 !important;
}

h1 {
  margin: 0;
}
