:host ::ng-deep .mat-card-header-text {
  width: 100%;
}

.main-container {
  display: flex;
  flex-flow: wrap row;
  justify-content: center;

  .esperanto-main-card {
    display: inline-block;
    margin: 8px;
    min-width: 400px;
    max-width: 400px;
    transition: all 0.2s;
    box-sizing: border-box;
    border: 1px solid transparent;

    .img-container {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    &:hover {
      box-shadow: 5px 5px 10px antiquewhite;
      cursor: pointer;
      border: 1px solid grey;
    }
  }
}

::ng-deep .toolTipClass {
  font-size: 200%;
}
