.exercise-block {
  flex-direction: column;
  box-sizing: border-box;
  display: flex;

  .preposition {
    margin-right: 3rem;
  }

  .exercise-word {

  }

  .exercise-example {
    padding: 3rem 5rem;
    color: grey;
    font-size: 3rem;
    line-height: 3rem;
  }
}
