<div fxLayout="column" fxFlex fxLayoutAlign="center center" (keydown)="nextExercise()">

  <div fxLayoutAlign="center center">
    <button color="primary" (click)="showAnswer()" mat-button="">Ответ</button>
    <button color="primary" (click)="nextExercise()" mat-button="">Следующее</button>
    <button color="primary" (click)="openSettings()" mat-button="">Настройки</button>
    <button color="primary" (click)="openHelp()" mat-button="">Помощь</button>
  </div>

  <div *ngIf="activeExercise as exercise" class="exercise-block fs-6rem">
    <div>
      <div>{{exercise.russian}}</div>
    </div>
    <div fxFlex fxLayoutAlign="center center" class="fs-10rem">
      <div *ngIf="isShowAnswer" class="preposition">{{exercise.preposition}}</div>
      <div *ngIf="!isShowAnswer" class="preposition">{{exercise.preposition | hideAnswer}}</div>
      <div class="exercise-word">{{exercise.word}}</div>
    </div>
    <div>
      <div>{{exercise.type}}</div>
    </div>
  </div>
</div>
