<div [ngStyle]="{'text-align': 'center', 'margin-top': '16px'}">
  <h2>
    Здравствуй, кибер-странник! <a [ngStyle]="{'text-decoration': 'underline', 'color': 'blue'}" href="https://github.com/shmihshmih" target="_blank">Я</a> храню тут разные инструменты. Их можешь использовать и
    <a target="_blank" [matTooltip]="'Ты большая умница'" href="https://ru.wikipedia.org/wiki/%D0%93%D0%BD%D0%B8%D0%B4%D1%8B" [ngStyle]="{'text-decoration': 'underline', 'color': 'blue'}">ты</a>.
  </h2>
  <h2>
    Вот некоторые из них:
  </h2>
</div>
<div class="main-container">

  <mat-card class="esperanto-main-card">
    <mat-card-header class="w-100">
      <mat-card-title fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
        <h1 [routerLink]="['english', 'wordCard', 'irregular_verbs']" [matTooltip]="'Карточки всех слов, которые есть в базе'" [matTooltipClass]="'toolTipClass'">Карточки слов</h1>
      </mat-card-title>
      <mat-card-subtitle>Тип: Генератор</mat-card-subtitle>
    </mat-card-header>
    <div class="img-container" [routerLink]="['english', 'wordCard', 'irregular_verbs']">
      🦵🐶🌕🌏🍉⚽🤸‍♂️🚆⌚🛏🦵🐶🌕🌏🍉⚽🤸‍♂️🦵🐶🌕🌏🍉⚽🤸‍♂️🚆⌚🛏🦵🐶🌕🌏🍉⚽🤸‍♂️🦵🐶🌕🌏🍉⚽🤸‍♂️🚆⌚🛏🦵🐶🌕🌏🍉⚽🤸‍♂️
    </div>
    <mat-card-content [routerLink]="['english', 'wordCard', 'irregular_verbs']">
      <p>
        Карточки слов
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" [routerLink]="['english', 'wordCard', 'irregular_verbs']" [matTooltip]="'Открыть'" [matTooltipClass]="'toolTipClass'">
        <i class="material-icons-outlined">view_stream</i>
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="esperanto-main-card">
    <mat-card-header class="w-100">
      <mat-card-title fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
        <h1 [routerLink]="['english', 'wordList']" [matTooltip]="'Таблица-список всех слов, которые есть в базе'" [matTooltipClass]="'toolTipClass'">Список слов</h1>
      </mat-card-title>
      <mat-card-subtitle>Тип: Списки</mat-card-subtitle>
    </mat-card-header>
    <div class="img-container" [routerLink]="['english', 'wordList']">
      🎷🎷🎷🎷🎷🎷🎷🎷🎷🎷🎷🎷🎷🎷🎷🎷🎷🎷🎷🎷🎷🎷🎷🎷🎷🎷🎷🎷🎷🎷🎷🎷🎷🎷🎷🎷🎷🎷🎷🎷🎷🎷🎷🎷🎷🎷🎷🎷
    </div>
    <mat-card-content [routerLink]="['english', 'wordList']">
      <p>
        Список слов
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" [routerLink]="['english', 'wordList']" [matTooltip]="'Открыть'" [matTooltipClass]="'toolTipClass'">
        <i class="material-icons-outlined">view_stream</i>
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="esperanto-main-card">
    <mat-card-header class="w-100">
      <mat-card-title fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
        <h1 [routerLink]="['english', 'sentences-creator']" [matTooltip]="'Генератор предложений по всем временам со всеми глаголами, которые есть в системе'" [matTooltipClass]="'toolTipClass'">Генератор предложений</h1>
      </mat-card-title>
      <mat-card-subtitle>Тип: Генератор</mat-card-subtitle>
    </mat-card-header>
    <div class="img-container" [routerLink]="['english', 'sentences-creator']">
      🪂🪂🪂🪂🪂🪂🪂🪂🪂🪂🪂🪂🪂🪂🪂🪂🪂🪂🪂🪂🪂🪂🪂🪂🪂🪂🪂🪂🪂🪂🪂🪂🪂🪂🪂🪂🪂🪂🪂🪂🪂🪂🪂🪂🪂🪂🪂🪂🪂🪂🪂🪂🪂🪂🪂🪂🪂🪂🪂🪂
    </div>
    <mat-card-content [routerLink]="['english', 'sentences-creator']">
      <p>
        Генератор предложений
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" [routerLink]="['english', 'sentences-creator']" [matTooltip]="'Открыть'" [matTooltipClass]="'toolTipClass'">
        <i class="material-icons-outlined">view_stream</i>
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="esperanto-main-card">
    <mat-card-header class="w-100">
      <mat-card-title fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
        <h1 [routerLink]="['blog', 'bookquest', 'thestainlesssteelrat', 1]" [matTooltip]="'Демонстрация книжного квеста. Здесь просто \<Стальная крыса\> Гарри Гаррисона'" [matTooltipClass]="'toolTipClass'">Книжный квест</h1>
      </mat-card-title>
      <mat-card-subtitle>Тип: Генератор</mat-card-subtitle>
    </mat-card-header>
    <div class="img-container" [routerLink]="['blog', 'bookquest', 'thestainlesssteelrat', 1]">
      📗🧛‍♂️📗🧛‍♂️📗🧛‍♂️📗🧛‍♂️📗🧛‍♂️📗🧛‍♂️📗🧛‍♂️📗🧛‍♂️📗🧛‍♂️📗🧛‍♂️📗🧛‍♂️📗🧛‍♂️📗🧛‍♂️📗🧛‍♂️📗🧛‍♂️📗🧛‍♂️📗🧛‍♂️📗🧛‍♂️📗🧛‍♂️📗🧛‍♂️📗🧛‍♂️📗🧛‍♂️📗🧛‍♂️📗🧛‍♂️📗🧛‍♂️📗🧛‍♂️📗🧛‍♂️
    </div>
    <mat-card-content [routerLink]="['blog', 'bookquest', 'thestainlesssteelrat', 1]">
      <p>
        Книжный квест
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" [routerLink]="['blog', 'bookquest', 'thestainlesssteelrat', 1]" [matTooltip]="'Открыть'" [matTooltipClass]="'toolTipClass'">
        <i class="material-icons-outlined">view_stream</i>
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="esperanto-main-card">
    <mat-card-header class="w-100">
      <mat-card-title fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
        <h1 [routerLink]="['autoHR']" [matTooltip]="'Пройти собеседование или посмотреть вопросы и ответы'" [matTooltipClass]="'toolTipClass'">autoHR</h1>
      </mat-card-title>
      <mat-card-subtitle>Тип: Генератор + Списки</mat-card-subtitle>
    </mat-card-header>
    <div class="img-container" [routerLink]="['autoHR']">
      ⌚📌🕵️‍♀️🧷👨‍💼👨‍🎓⌚📌🕵️‍♀️🧷👨‍💼👨‍🎓⌚📌🕵️‍♀️🧷👨‍💼👨‍🎓
      ⌚📌🕵️‍♀️🧷👨‍💼👨‍🎓⌚📌🕵️‍♀️🧷👨‍💼👨‍🎓⌚📌🕵️‍♀️🧷👨‍💼👨‍🎓
      ⌚📌🕵️‍♀️🧷👨‍💼👨‍🎓⌚📌🕵️‍♀️🧷👨‍💼👨‍🎓⌚📌🕵️‍♀️🧷👨‍💼👨‍🎓
    </div>
    <mat-card-content [routerLink]="['autoHR']">
      <p>
        Генератор собеседований
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" [routerLink]="['autoHR']" [matTooltip]="'Открыть'" [matTooltipClass]="'toolTipClass'">
        <i class="material-icons-outlined">view_stream</i>
      </button>
    </mat-card-actions>
  </mat-card>

</div>
<fiv>
  <a href="https://github.com/shmihshmih" target="_blank">Find Me</a>
</fiv>
