<div class="main-container">

  <mat-card class="esperanto-main-card">
    <mat-card-header class="w-100">
      <mat-card-title fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
        <h1 [routerLink]="['english', 'wordCard', 'irregular_verbs']">Карточки слов</h1>
      </mat-card-title>
      <mat-card-subtitle>Генератор</mat-card-subtitle>
    </mat-card-header>
    <div class="img-container" [routerLink]="['english', 'wordCard', 'irregular_verbs']"
         [ngStyle]="{'background': 'center/100% url()'}">
    </div>
    <mat-card-content [routerLink]="['english', 'wordCard', 'irregular_verbs']">
      <p>
        Карточки слов
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" [routerLink]="['english', 'wordCard', 'irregular_verbs']">
        <i class="material-icons-outlined">view_stream</i>
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="esperanto-main-card">
    <mat-card-header class="w-100">
      <mat-card-title fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
        <h1 [routerLink]="['english', 'wordList']">Список слов</h1>
      </mat-card-title>
      <mat-card-subtitle>Списки</mat-card-subtitle>
    </mat-card-header>
    <div class="img-container" [routerLink]="['english', 'wordList']"
         [ngStyle]="{'background': 'center/100% url()'}">
    </div>
    <mat-card-content [routerLink]="['english', 'wordList']">
      <p>
        Список слов
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" [routerLink]="['english', 'wordCard', 'verbs']">
        <i class="material-icons-outlined">view_stream</i>
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="esperanto-main-card">
    <mat-card-header class="w-100">
      <mat-card-title fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
        <h1 [routerLink]="['english', 'sentences-creator']">Генератор предложений</h1>
      </mat-card-title>
      <mat-card-subtitle>Генератор</mat-card-subtitle>
    </mat-card-header>
    <div class="img-container" [routerLink]="['english', 'sentences-creator']"
         [ngStyle]="{'background': 'center/100% url()'}">
    </div>
    <mat-card-content [routerLink]="['english', 'sentences-creator']">
      <p>
        Генератор предложений
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" [routerLink]="['english', 'sentences-creator']">
        <i class="material-icons-outlined">view_stream</i>
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="esperanto-main-card">
    <mat-card-header class="w-100">
      <mat-card-title fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
        <h1 [routerLink]="['blog', 'bookquest', 'thestainlesssteelrat', 1]">Книжный квест</h1>
      </mat-card-title>
      <mat-card-subtitle>Генератор</mat-card-subtitle>
    </mat-card-header>
    <div class="img-container" [routerLink]="['blog', 'bookquest', 'thestainlesssteelrat', 1]"
         [ngStyle]="{'background': 'center/100% url()'}">
    </div>
    <mat-card-content [routerLink]="['blog', 'bookquest', 'thestainlesssteelrat', 1]">
      <p>
        Книжный квест
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" [routerLink]="['blog', 'bookquest', 'thestainlesssteelrat', 1]">
        <i class="material-icons-outlined">view_stream</i>
      </button>
    </mat-card-actions>
  </mat-card>

</div>
