<h1>Карточки слов</h1>
<div>

  <div>
    <div>Дано:</div>
    <div>WORD</div>
  </div>

  <div>
    <div>Ответ:</div>
    <div>СЛОВО</div>
  </div>

  <div>
    <button color="primary" (click)="nextWord()" mat-button="">Следующий</button>
    <button color="primary" (click)="showAnswer()" mat-button="">Ответ</button>
    <button color="primary" (click)="openSettings()" mat-button="">Настройки</button>
    <button color="primary" (click)="openHelp()" mat-button="">Помощь</button>
  </div>
</div>
