<div fxFlex fxLayout="column">
  <div class="column-container" fxFlex fxLayout="row" fxLayout.xs="column" [ngStyle.xs]="{'minHeight': '100vh'}" [formGroup]="configForm">
    <div class="column-container-item" [ngClass.xs]="{'column-container-item-xs': true}">
      <div>
        <h3><b>Types</b></h3>
        <div formArrayName="sentenceType">
          <div>
            <div>
              <mat-checkbox #allSentenceTypesCheckbox
                            (click)="allSentenceTypes('all', !allSentenceTypesCheckbox.checked)">All
              </mat-checkbox>
            </div>
          </div>
          <div *ngFor="let sentenceType of sentenceType.controls; let inx = index;">
            <div>
              <mat-checkbox [formControlName]="inx">{{data.sentenceType[inx]}}</mat-checkbox>
            </div>
          </div>
        </div>
      </div>
      <div>
        <hr>
        <div>
          <div>
            <mat-checkbox [formControl]="withTranslateControl">С переводом</mat-checkbox>
          </div>
        </div>
      </div>
    </div>
    <div class="column-container-item" [ngClass.xs]="{'column-container-item-xs': true}" >
      <h3><b>Times</b></h3>
      <div formArrayName="times">
        <div>
          <div>
            <mat-checkbox #allTimesCheckbox
                          (click)="setAllTimes('all', !allTimesCheckbox.checked)">All
            </mat-checkbox>
          </div>
        </div>
        <div *ngFor="let time of times.controls; let inx = index;">
          <div>
            <mat-checkbox [formControlName]="inx">{{data.times[inx]}}</mat-checkbox>
          </div>
        </div>
      </div>
    </div>
    <div class="column-container-item" [ngClass.xs]="{'column-container-item-xs': true}">
      <h3><b>Pronouns</b></h3>
      <div formArrayName="pronouns">
        <div>
          <div>
            <mat-checkbox #allPronounsCheckbox
                          (click)="setAllPronouns('all', !allPronounsCheckbox.checked)">All
            </mat-checkbox>
          </div>
        </div>
        <div *ngFor="let pronoun of pronouns.controls; let inx = index;">
          <div>
            <mat-checkbox [formControlName]="inx">{{data.pronouns[inx].english}}</mat-checkbox>
          </div>
        </div>
      </div>
    </div>
    <div class="column-container-item" [ngClass.xs]="{'column-container-item-xs': true}">
      <h3><b>Verbs</b></h3>
      <div>
        <div>
          <mat-checkbox #checkbox1 (click)="setVerbs('all', !checkbox1.checked)">All verbs</mat-checkbox>
        </div>
        <div>
          <mat-checkbox #checkbox2 (click)="setVerbs('regular', !checkbox2.checked)">regular verbs</mat-checkbox>
        </div>
        <div>
          <mat-checkbox #checkbox3 (click)="setVerbs('irregular', !checkbox3.checked)">irregular verbs</mat-checkbox>
        </div>
        <hr>
        <div formArrayName="verbs">
          <div *ngFor="let verb of verbs.controls; let inx = index;">
            <div>
              <mat-checkbox [formControlName]="inx">{{data.verbs[inx].english}}({{data.verbs[inx].russian}})</mat-checkbox>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="actions">
    <button color="primary" (click)="closePopup()" mat-button="">Отмена</button>
    <button color="primary" (click)="submitConfigs()" mat-button="">Принять</button>
  </div>
</div>
