<div class="main-container">
  <mat-card *ngFor="let bookQuest of bookQuestList" class="esperanto-main-card" [ngClass.xs]="{'esperanto-main-card-xs': true}" (click)="openBookQuest(bookQuest.collection_caption)">
    <mat-card-header class="w-100">
      <mat-card-title fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
        <h1 [matTooltip]="'Книга-квест ' + bookQuest.title + '. Автор: ' + bookQuest.author"
            [matTooltipClass]="'toolTipClass'"
        >{{bookQuest.title}}</h1>
      </mat-card-title>
      <mat-card-subtitle>{{bookQuest.item_type}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{bookQuest.author}}
      </p>
    </mat-card-content>
  </mat-card>
</div>
