.f {
  display: flex;
}

.jc-center {
  justify-content: center;
}

.o-a {
  overflow: auto;
}

.g-16 {
  gap: 16px;
}

.h-100 {
  height: 100%;
}

.df-space-between {
  display: flex;
  justify-content: space-between;
}

.d-b {
  display: block !important;
}

.ow-anywhere {
  overflow-wrap: anywhere;
}

.of-auto {
  overflow: auto;
}
