// font-size
.fs-2rem {
  font-size: 2rem;
}

// line-height
.lh-1 {
  line-height: 1;
}

.lh-2rem {
  line-height: 2rem;
}

// обычно большой текст для карточек
.fs-20vw {
  font-size: 20vw;
}

.fs-10vw {
  font-size: 10vw !important;
}

.fs-1rem {
  font-size: 1rem !important;
  line-height: 1rem;
}

.fs-10rem {
  font-size: 10rem !important;
  line-height: 10rem;
}

.fs-6rem {
  font-size: 6rem !important;
  line-height: 6rem;
}

.fs-5vw {
  font-size: 5vw !important;
}

.fs-2vw {
  font-size: 2vw !important;
}

// обычно большой текст для карточек
.f-16em {
  font-size: 16em;
}

.fw-600 {
  font-weight: 600;
}

.td-underline {
  text-decoration: underline;
}
