<div *ngIf="randomSentence" fxLayout="column" fxFlex fxLayoutAlign="center center">

  <div fxFlex fxLayoutAlign="center center">
    <h1>Sentence Constructor</h1>
    <mat-icon class="h1-icon"
              [matTooltip]="'Выбрать проверяемые времена, типы предложений, местоимения, глаголы и т.д.'"
              [matTooltipClass]="'toolTipClass'" (click)="openSettings()">settings
    </mat-icon>
  </div>
  <div fxShow fxHide.xs>
    <div fxLayoutAlign="center center">
      <button color="primary" (click)="showAnswer()" mat-button="">Answer</button>
      <button color="primary" (click)="nextSentence()" mat-button="">Next</button>
      <button color="primary" (click)="howToUseThisTime()" mat-button="">About time</button>
    </div>
  </div>

  <div *ngIf="randomSentence" class="w-100" fxLayout="row" fxFlex fxLayoutAlign="center center">
    <div *ngIf="randomSentence.Pronoun && randomSentence.Verb" class="w-100 ow-anywhere lh-1"
         fxLayout="column">

      <div fxFlex fxLayoutAlign="center center">
        <mat-form-field appearance="outline" [style.width.%]="95">
          <mat-label class="fs-2vw">Pronoun</mat-label>
          <input class="fs-5vw" matInput value="{{randomSentence.Pronoun.russian}}">
        </mat-form-field>
      </div>

      <div fxFlex fxLayoutAlign="center center">
        <mat-form-field appearance="outline" [style.width.%]="95">
          <mat-label class="fs-2vw">Time</mat-label>
          <input class="fs-5vw" matInput value="{{randomSentence.Time}}">
        </mat-form-field>
      </div>

      <div fxFlex fxLayoutAlign="center center">
        <mat-form-field appearance="outline" [style.width.%]="95">
          <mat-label class="fs-2vw">Verb</mat-label>
          <input class="fs-5vw" matInput
                 value="{{randomSentence.Verb.russian}} {{withTranslate ? '<' + randomSentence.Verb.english + '>' : null}}">
        </mat-form-field>
      </div>

      <div fxFlex fxLayoutAlign="center center">
        <mat-form-field appearance="outline" [style.width.%]="95">
          <mat-label class="fs-2vw">Type</mat-label>
          <input class="fs-5vw" matInput value="{{sentenceTypeTranslation(randomSentence.SentenceType)}}">
        </mat-form-field>
      </div>

      <div fxFlex fxLayoutAlign="center center">
        <mat-form-field appearance="outline" [style.width.%]="95">
          <mat-label class="fs-2vw">Answer</mat-label>
          <input class="fs-5vw" matInput value="{{isShowAnswer ? randomSentence.answer.toLowerCase() : '***'}}">
        </mat-form-field>
      </div>

    </div>
  </div>

  <div fxHide fxShow.xs>
    <div fxLayoutAlign="center center">
      <button color="primary" (click)="showAnswer()" mat-button="">Answer</button>
      <button color="primary" (click)="nextSentence()" mat-button="">Next</button>
      <button color="primary" (click)="howToUseThisTime()" mat-button="">About time</button>
    </div>
  </div>

</div>
