<ul class="nav-list">
  <li>
    <mat-icon>face</mat-icon><a>Профиль</a>
  </li>
  <li>
    <mat-icon>home</mat-icon><a>Главная</a>
  </li>
  <li>
    <mat-icon>language</mat-icon><a>Эсперанто</a>
  </li>
  <li>
    <mat-icon>chrome_reader_mode</mat-icon><a>Английский</a>
  </li>
  <li>
    <mat-icon>fact_check</mat-icon><a>Блог</a>
  </li>
  <li>
    <mat-icon>psychology</mat-icon><a>Socrates</a>
  </li>
  <li>
    <mat-icon>exit_to_app</mat-icon><a>Выйти</a>
  </li>
  <li>
    <mat-icon>login</mat-icon><a>Войти</a>
  </li>
</ul>
