html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 12pt;
}

a {
  color: black;
  text-decoration: none;

  &:hover, &:active {
    cursor: pointer;
    transition: 0.3s all;
    color: grey;
  }
}


// library of common styles
.w-100 {
  width: 100%;
}


// line-height
.lh-1 {
  line-height: 1;
}

.lh-2rem {
  line-height: 2rem;
}

// font-size
.fs-2rem {
  font-size: 2rem;
}

// обычно большой текст для карточек
.fs-20vw {
  font-size: 20vw;
}
.fs-10vw {
  font-size: 10vw;
}

// обычно большой текст для карточек
.f-16em {
  font-size: 16em;
}

// margin
.m-0 {
  margin: 0 !important;
}

.mr-32 {
  margin-right: 32px;
}

.ml-16 {
  margin-left: 16px !important;
}

.mb-16 {
  margin-bottom: 16px;
}

.df-space-between {
  display: flex;
  justify-content: space-between;
}

.d-b {
  display: block !important;
}

.fw-600 {
  font-weight: 600;
}

.ow-anywhere {
  overflow-wrap: anywhere;
}

.of-auto {
  overflow: auto;
}

.td-underline {
  text-decoration: underline;
}

// padding
.p-16 {
  padding: 16px;
}

// Карточки слов: настройки попапа
.wordCardSettingsPopup {
  overflow: auto;
  height: auto !important;

  .mat-dialog-container {
    height: auto !important;
    overflow: auto;
    transform: none;

    .mat-dialog-content {
      height: auto !important;
      width: 500px;
      overflow: auto;
      transform: none;
    }
  }
}
