@import "src/assets/scss/common/_common.scss";
@import "src/assets/scss/common/_font.scss";
@import "src/assets/scss/common/_margin.scss";
@import "src/assets/scss/common/_padding.scss";
@import "src/assets/scss/common/_toast.scss";
@import "src/assets/scss/common/_width.scss";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 12pt;
}

a {
  color: black;
  text-decoration: none;

  &:hover, &:active {
    cursor: pointer;
    transition: 0.3s all;
    color: grey;
  }
}

// Карточки слов: настройки попапа
.wordCardSettingsPopup {
  overflow: auto;
  height: auto !important;

  .mat-dialog-container {
    height: auto !important;
    overflow: auto;
    transform: none;

    .mat-dialog-content {
      height: auto !important;
      width: 500px;
      overflow: auto;
      transform: none;
    }
  }
}

.h1-icon {
  margin-bottom: 16px;
  margin-left: 16px;
  cursor: pointer;
}

.custom-mat-card-title {
  gap: 16px;
}
