<div class="content">
  <div *ngIf="step === 'start'" class="start-actions">
    <button mat-stroked-button (click)="openInterviewPopup()">Собес</button>
    <button mat-stroked-button (click)="step = 'catalog'">Справочник</button>
  </div>
  <div *ngIf="(step === 'catalog') || (step === 'interview')" class="catalog">
    <div class="catalog-action">
      <div [ngStyle]="{'display': 'flex'}">

        <mat-form-field class="example-form-field p-lr-8" [ngStyle]="{'width': '20%'}">
          <mat-label>Кол-во вопросов</mat-label>
          <input type="number" matInput [(ngModel)]="tasksCount">
          <button mat-button *ngIf="tasksCount" matSuffix mat-icon-button aria-label="Clear" (click)="tasksCount=0">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <div [ngStyle]="{'width': '20%'}" class="p-lr-8">
          <div>
            <mat-slider [(ngModel)]="typeModel" aria-label="unit(s)" [ngStyle]="{'width': '100%'}"></mat-slider>
          </div>
        </div>

        <mat-form-field appearance="fill" [ngStyle]="{'width': '20%'}" class="p-lr-8">
          <mat-label>Сложность</mat-label>
          <mat-select [formControl]="difficultiesControl" multiple>
            <mat-select-trigger>
              {{difficultiesControl.value ? difficultiesControl.value[0] : ''}}
              <span *ngIf="difficultiesControl.value?.length > 1" class="example-additional-selection">
        (+{{difficultiesControl.value.length - 1}} {{difficultiesControl.value?.length === 2 ? 'other' : 'others'}})
      </span>
            </mat-select-trigger>
            <mat-option *ngFor="let difficultie of difficultiesList"
                        [value]="difficultie">
                      <span [ngSwitch]="difficultie">
                        <span *ngSwitchCase="'beginner'">Пре-Джуниор</span>
                        <span *ngSwitchCase="'junior'">Джуниор</span>
                        <span *ngSwitchCase="'middle'">Мидл</span>
                        <span *ngSwitchCase="'senior'">Сеньор</span>
                      </span>
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" [ngStyle]="{'width': '20%'}" class="p-lr-8">
          <mat-label>Компетенции</mat-label>
          <mat-select [formControl]="competencesControl" multiple>
            <mat-select-trigger>
              {{competencesControl.value ? competencesControl.value[0] : ''}}
              <span *ngIf="competencesControl.value?.length > 1" class="example-additional-selection">
        (+{{competencesControl.value.length - 1}} {{competencesControl.value?.length === 2 ? 'other' : 'others'}})
      </span>
            </mat-select-trigger>
            <mat-option *ngFor="let competence of competencesList" [value]="competence">
              {{competence}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" [ngStyle]="{'width': '20%'}" class="p-lr-8">
          <mat-label>Популярность</mat-label>
          <mat-select [formControl]="popularityControl" multiple>
            <mat-select-trigger>
              {{popularityControl.value ? popularityControl.value[0] : ''}}
              <span *ngIf="popularityControl.value?.length > 1" class="example-additional-selection">
        (+{{popularityControl.value.length - 1}} {{popularityControl.value?.length === 2 ? 'other' : 'others'}})
      </span>
            </mat-select-trigger>
            <mat-option *ngFor="let popularity of popularityList" [value]="popularity">{{popularity}}</mat-option>
          </mat-select>
        </mat-form-field>

      </div>
      <div class="filter-actions">
        <button mat-mini-fab color="primary" (click)="refreshTable()" matTooltip="Обновить таблицу в соответствии с фильтрами"
                [disabled]="tasksCount < 1 || typeModel < 1 || !difficultiesControl.value || !competencesControl.value || !popularityControl.value">
          <mat-icon>refresh</mat-icon>
        </button>
        <button mat-mini-fab color="primary" (click)="goToStart('reset-filters')" matTooltip="Сбросить все фильтры">
          <mat-icon>highlight_off</mat-icon>
        </button>
        <button mat-mini-fab color="primary" matTooltip="Добавить новый вопрос" (click)="openModTaskPopup()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div fxLayoutAlign="center" class="w-100">
        <mat-form-field>
          <mat-label>Поиск</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Поиск" #input>
        </mat-form-field>
      </div>
    </div>
    <div class="mat-elevation-z8">
      <table mat-table
             [dataSource]="dataSource" multiTemplateDataRows matSort>
        <!-- Id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> №</th>
          <td mat-cell *matCellDef="let element;"> {{element.tableIndex}}</td>
        </ng-container>
        <!-- question Column -->
        <ng-container matColumnDef="question">
          <th mat-header-cell *matHeaderCellDef>Вопрос</th>
          <td mat-cell *matCellDef="let element"> {{element.question}} </td>
        </ng-container>
        <!-- type Column -->
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef> Тип</th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="element.type === 'question'">Вопрос</span>
            <span *ngIf="element.type === 'exercise'">Задача</span>
          </td>
        </ng-container>
        <!-- difficulty Column -->
        <ng-container matColumnDef="difficulty">
          <th mat-header-cell *matHeaderCellDef> Сложность</th>
          <td mat-cell *matCellDef="let element">
          <span [ngSwitch]="element.difficulty">
            <span *ngSwitchCase="'beginner'">Пре-Джуниор</span>
            <span *ngSwitchCase="'junior'">Джуниор</span>
            <span *ngSwitchCase="'middle'">Мидл</span>
            <span *ngSwitchCase="'senior'">Сеньор</span>
          </span>
          </td>
        </ng-container>
        <!-- popularity Column -->
        <ng-container matColumnDef="popularity">
          <th mat-header-cell *matHeaderCellDef> Популярность</th>
          <td mat-cell *matCellDef="let element"><span *ngIf="element.popularity">{{element.popularity}} / 5</span></td>
        </ng-container>
        <!-- Expanded Content Column  -->
        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
            <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
              <div class="example-element-diagram">
                <div [ngStyle]="{'display': 'flex', 'justify-content': 'space-between'}" class="custom-h-margin"
                     *ngIf="element.competence && element.competence.length > 0">
                  <h2 class="custom-h-margin">
                    Вопрос:
                  </h2>
                  <mat-chip-list>
                    <mat-chip color="primary" *ngFor="let competence of element.competence">{{competence}}</mat-chip>
                  </mat-chip-list>
                  <div>
                    <button mat-icon-button color="primary" (click)="openModTaskPopup(element)">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="removeTask(element)">
                      <mat-icon>delete_outline</mat-icon>
                    </button>
                  </div>
                </div>
                <div *ngIf="element.question">
                  <div>
                    <div> {{element.question}} </div>
                  </div>
                </div>
                <div [ngStyle]="{'margin-top': '16px'}">
                  <h2 class="custom-h-margin">
                    Описание вопроса:
                  </h2>
                  <div *ngIf="element.description || element.question">
                    <div>
                      <div> {{element.description || element.question}} </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="element.prevDifficulty.length > 0" [ngStyle]="{'margin-top': '16px'}">
                  <h2 class="custom-h-margin">
                    Вопросы полегче
                  </h2>
                  <div *ngFor="let t of element.prevDifficulty">
                    <a [routerLink]="['task', t.id]">{{t.caption}}</a>
                  </div>
                </div>
                <div *ngIf="element.nextDifficulty.length > 0" [ngStyle]="{'margin-top': '16px'}">
                  <h2 class="custom-h-margin">
                    Вопросы посложнее
                  </h2>
                  <div *ngFor="let t of element.nextDifficulty">
                    <a [routerLink]="['task', t.id]">{{t.caption}}</a>
                  </div>
                </div>
                <div class="detail-actions">
                  <button mat-raised-button color="primary" (click)="openTaskAnswerPopup(element)">Ответ</button>
                </div>
              </div>
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
            class="example-element-row"
            [class.example-expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? null : element">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
      </table>
      <mat-paginator #pagin [length]="tasks.length" (page)="pagination(pagin)" [pageSize]="tasks.length"
                     [pageSizeOptions]="[5, 10, 25, 50, 100, tasks.length]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
  <div *ngIf="(step === 'catalog') || (step === 'interview')" class="block-action">
    <button mat-mini-fab color="accent" (click)="goToStart('close-block')" matTooltip="Вернуться на первую страницу">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
